.body
{

	font-family:verdana;
	color:#330000;
	
}
#container
{
	height:100%;
	width:100%;
	padding:0px;
	text-align:center;
}
#Header
{
	
	text-align:center;
	border-bottom-style:solid;
	border-bottom-color:brown;
	height:15%;
	margin:0px;
}
.header
{
	color:brown;
}
.hp
{
	font-size:15;
	margin:10px;
}
#left-column
{
	background-color:#c99c7f;
	width:15%;
	height:75%;
	float:left;
	white-space:pre-line;
}
#right-column
{
	background-color:#E9DAC1;
	width:85%;
	height:75%;
	float:right;
}
.sscontainer {
  max-width: 100%;
  position: relative;
  margin: auto;
  height:100%;
}
.image
{
	height:100%;
	width:100%;
}
.text
 {
	 background-color:#dbbdaa;
	 color: black;
	 font-size: 20px;
	 position: absolute;
	 padding-top:10px;
	 height:8%;
	 bottom: 9px;
	 width: 100%;
	 text-align: center;
}
.slides 
{
  display: none;
}
.fade
 {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1};
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}
#NavBar
{
	text-align:center;
}	
.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  width: 200px;
}
a 
{
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

a:hover 
{
  background-color:#f6eaea;
  color: #210808;
}

#Footer
{
	background-color:#A55a2a;
	height:10%;
	width:100%;
}
.footer
{
	text-align:center;
	font-style:italic;
}
#IceCream
{
	right:5px;
}
#flavors
{
	right:5px;
	align-items:left;
}
.flavors
{
	position:left;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}
#font-dd
{
	font-size:18;
	text-align:center;
	padding-left:50px;
	padding-right:50px;
}
#Bar
{
	right:0px;
	margin:0px;
	padding-:10px;
}
.Bar
{
	position:left;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}
.Bar:hover
 {
  transform: scale(1.2); 
}
#font-bar
{
	margin:0px;
	font-size:12;
}
#Job
{
	position:left;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}
input[type=text], select 
 {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 5px;
  resize: vertical;
}
textarea
{
	width:95%;
}
input[type=submit] 
{
  background-color: #04AA6D;
  color: white;
  padding: 12px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items:bottom;
  margin:10px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
label
{
	font-size:14;
	text-align:left;
}
